.nav-container {
  display: flex;
  justify-content: center;
  background-color: #4b0082;
  padding: 10px;
}

.nav-button {
  font-size: 16px;
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin-right: 8px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-button a {
  text-decoration: none;
  color: #ffffff;
}

.nav-button:hover {
  background-color: rgba(83, 81, 81, 0.6);
}