.landing-container {
    background-image: url("./img1.jpg");
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.landing-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.landing-button {
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.landing-button a {
  text-decoration: none;
  color: #fff;
}

.landing-button:hover {
  background-color: #555;
}